*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Poppins', sans-serif;
}
li{
	list-style: none;
	display: flex;
}
a{
	text-decoration: none;
}
header{

	background:#f6f6f6;
	padding: 22px 0;

}
.header_container{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	}

.header_container a{
	color: #000;
	font-size: 16px;
	margin-right:63px;
	padding: 27px 6px;

}
.header_container a:hover{
	background: #ffea00;

}
#menu_checkbox{
	display: none;
}	
ul{
	display: flex;
}

nav{
	margin-top: 20px;
}
.top_slide{
	width: 90%;
	margin: 0 auto;
	background: url(../img/slider_bg.jpg) no-repeat;
	padding-top: 120px;
	padding-bottom: 280px;
} 
.top_container{
	width: 85%;
	margin: 0 auto;
}
.top_slide h2{
	background: #ffea00;
	display: inline;
	font-size: 70px;
	padding: 0 13px;
	text-transform: uppercase;

}
.top_slide :nth-child(2){
	margin-bottom: 10px;
}
.top_slide p{
	background: #414146;
	color: #fff;
	display: inline;
	font-size: 24px;
	padding: 0 13px;
}
.specialize_container{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.specialize_container h3{
	text-transform: uppercase;
	font-size: 35px;
}
.specialize_container p{
	font-size: 24px;
	margin-top: 20px;
}
.specialize_card{
	display: flex;
	justify-content: space-between;
}
.top_card_png{
	height: 214px;
	width: 250px;
	background: #ffea00;
	padding-top: 40px;
	box-sizing: border-box;
}
.top_card_png p{
	font-size: 20px;
}
.bottom_card{
	background: #414146;
	position: relative;
	top: -30px;
}
.first_p{
	margin: 0 auto;
	font-size: 20px;
	color: #fff;
	
}
.portfolio{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.portfolio h4{
	background: #424147;
	color: #ffea00;
	padding: 9px 30px;
	font-size: 18px;
	display: inline-block;
	margin-bottom: 30px;
}
.portfolio p{
	color:  #424147;
	font-size: 16px;

}
.toggles button{
	border: none;
	color: #424147;
	cursor: pointer;
	font-size: 16px;
	margin: 0 5px;
	margin-top: 20px;
	background: #fff;
}
.toggles button:after{
	content: ' / '
}
.toggles button:last-child:after{
	content: ''
}
.posts{
	width: 90%;
	display: grid;
	margin: 0 auto;
	grid-template-columns: auto auto auto;
}
.posts div{
	margin-bottom: 20px;
}
.brand_slider{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.brand_slider h4{
	margin-top: 50px;
	background: #424147;
	color: #ffea00;
	padding: 9px 30px;
	font-size: 18px;
	display: inline-block;
	margin-bottom: 30px;
}
.brand_slider p{
	color:  #424147;
	font-size: 16px;
	margin-bottom: 30px;
}
footer{
	background-color: #414146;
	padding: 30px 0;
}
.footer_container{
	color: #fff;
	width: 90%;
	margin: 0 auto;	
	display: flex;
}
.about_container{
	margin-right: 94px;
	width: 35%;
}
.about_container h4{
	font-size: 18px;
}
.about_container p{
	margin-top: 30px;
	font-size: 13px;
	
}
 .about_container a{
 	padding: 13px 17px;
 	font-size: 15px;
 	background-color:#000;
 	border-bottom: 1px solid #ffea00;
 	color: #fff;
 	margin-top: 31px;
 	margin-bottom: 44px;
 	display: inline-block;
 }
 .about_container .images{
 	margin-top: 24px;
 }
 .tweeter_container{
 	width: 33%;
 	margin-right: 144px;
 }
 .tweeter_container h4{
 	font-size: 18px;
 	margin-bottom: 30px;
 }
 .tweeter_container p{
 	font-size: 13px;
 	margin-bottom: 20px;
 }
 .tweeter_container p img{
 	margin-right: 22px;	
 }
 .tweeter_container p span{
 	color: #e1cf18;
 }
 .tweeter_container .days_ago{
 	font-size: 9px;
 	color: #e1cf18;
 	text-align: right;
 	margin-right: 50px;
 }
 .social{
 	margin: 0
 	margin-top: 40px;
 	display: flex;
 }
 .social p{
 	margin-right: 9px;
 	font-size: 18px;
 }
 .social img{
 	margin-right: 2px;
 }
 .contact_container{
 	width: 25%
 }
 .contact_container h4{
 	font-size: 18px;
 	margin-bottom: 50px;
 }
 .contact_container a{
 	margin-top: 32px;
 	color: #fff;
 	display: flex;
 	font-size: 13px;

 }
 .contact_container a img{
 	margin-right: 17px;
 }

 .contact_container a span{
 	color: #ffea00;
 }
 .follow_us{
	margin-top: 48px;
 }
 .follow_us h4{
 	margin: 0;
 }
 .follow_us p{
 	margin-top: 22px;
 	font-size: 13px;
 }
 .feedback_input{
 	color: #fff;
 	border:none;
 	width: 230px;
 	height: 15px;
 	background: #414146;
 	border-bottom: 1px solid #ffea00;
 }
 .button_submit{
 	border:none;
 	width: 30px;
    height: 25px;
 	background-image: url(../img/email-icon.jpg);
 }






	@media screen and ( max-width: 420px){
		.header_container{
			width: 100%;
			display: flex;
			justify-content: space-around;
		}
		.main_menu{

			display: none;
		}
		.main_menu li{
			width: 100%;
			display: block;
			font-size: 12px;
		}
		.main_menu a{

			display: block;
			padding: 8px;
		}
		.toggle_button{
			
			text-align: center;
			display: block;
			cursor: pointer;
			color: #000;
		}
		.toggle_button:after{
			content: attr(data-open);
			display: block;
		}
		#menu_checkbox:checked + nav[role="navigation"] .main_menu{
			display: block;
		}
		#menu_checkbox:checked + nav[role="navigation"] .toggle_button:after{
			content: attr(data-close);
		}
		.header_container a{
			margin-right: -65px;
		}
		.main_menu{
			position: relative;
			top:30px;
			right: 11px;
		}
		.top_slide{
		padding-top: 40px;
		padding-bottom: 40px;
		}
		.top_slide h2{
			font-size: 32px;
		}
		.top_slide p{
			font-size: 16px;
		}
		.specialize_container p{
			font-size: 16px;
		}
		.specialize_card{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.bottom_card{
			width: 250px;
			margin: 0 auto;
		}
		.top_card_png {
		    margin: 0 auto;
		    }
		.posts{
			grid-template-columns: auto;


	    }

	    .footer_container{
	    	display:flex;
	    	flex-direction:column;
	    }
	    .about_container {
	    	margin:0 auto;
    	width: 80%;
   		 }
   		 .tweeter_container {
   		 	margin:0 auto;
    	width: 80%;
    	}
    	.contact_container {
    	margin:0 auto;
    	width: 80%;
    	}

		
	}